.git
.gitignore
/vendor
/node_modules
/.vscode
/.idea
/public/build
/public/hot
/public/storage
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
.env
.env.*
README.md
phpunit.xml
/tests
